@media screen and (min-width: 769px) {
    .about-stack {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .interactive-image {
        width: 50vw;
        padding: 5vw 0;
        grid-column: 1 / span 8;
        grid-row: 1;
        
    }
    .text-layer {
        width: 45vw;
        height: fit-content;
        margin-top: 16vw;
        margin-left: 22vw;
        padding: 4vw;
        grid-column: 4 / -1;
        grid-row: 1;
        background-color: var(--white);
        z-index: 1;
    }
}

@media screen and (max-width: 768px) {
    .body-text {
        padding: 0 14vw;
    }
    .interactive-image {
        width: 90vw;
        padding: 5vw 0;
    }
}